@font-face {
    font-family: 'Losta Masta';
    src: url('../fonts/LostaMasta-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: 'General Sans Variable';
  src: url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YRDZST';
  src: url('../fonts/YRDZST\ Semibold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
    --color-dark: #191a1d;
      
    
    --background-color: var(--color-light);
    --foreground-color: var(--color-dark);
    
    --duration-short: 0.3s;
    --duration-medium: 0.5s;
    --duration-long: 1s;
  
    --font-sans: 'General Sans Variable', Arial, sans-serif;
    --font-serif: 'Losta Masta', serif;
    --font-mandarin: 'YRDZST', serif;

    --rhythm: 1.5rem;
  }
    
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  body {
    background-image: linear-gradient(#ffffffa6, #ffffffa6), url(../media/bg-texture.jpg);
    background-position: 0;
    background-size: auto 45vw;
    color: var(--color-dark);
    font-family: var(--font-sans);
    font-size: 100%;
    font-weight: 400;
    margin: 0;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  h1, h2, h3, p {
    color: var(--color-dark);
  }

  h1 {
    font-family: var(--font-serif);
    font-size: 5.7rem;
    letter-spacing: 0.4rem;
    line-height: 6rem;
    margin: 0;
  }

  h2 {
    font-family: var(--font-sans);
    font-size: 1.8rem;
    font-weight: 450;
    letter-spacing: 0.2rem;
    line-height: 1rem;
    margin: 0;
  }

  h3 {
    font-family: var(--font-mandarin);
    font-size: 2rem;
    line-height: 0;
    margin: 1.2rem 0;
    color: var(--color-dark);
    padding: 0;
  }

  p {
    font-size: 1rem;
    margin: 1rem 0 0 0;
  }

  .title_wrapper {
    align-items: center;
    background: transparent;
    /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5) inset; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    width: 36rem;

    .title {
      display: flex;
      flex-direction: row-reverse;
      gap: 1.2rem;
    }

    .help_button {
      position: absolute;
      top: calc(0.5*var(--rhythm));
      right: calc(0.5*var(--rhythm));

      .help_icon {
        fill: var(--color-dark);
      }
    }
  }

  .characters_container {
    align-content: center;
    align-items: start;
    display: grid;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5) inset;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(6, 130px);
    grid-template-areas:
      '. a . b'
      'c . d .'
      '. e . f'
      'g . h .'
      '. i . j'
      'k . l .';
    min-height: 100vh;
    position: relative;

    #aang {
      grid-area: a;
    }
  
    #zuko {
      grid-area: b;
    }
  
    #iroh {
      grid-area: c;
    }
  
    #katara {
      grid-area: d;
    }
  
    #sokka {
      grid-area: e;
    }
  
    #suki {
      grid-area: f;
    }
  
    #azula {
      grid-area: g;
    }
  
    #ty_lee {
      grid-area: h;
    }
  
    #appa {
      grid-area: i;
    }
  
    #momo {
      grid-area: j;
    }
  
    #mai {
      grid-area: k;
    }
  
    #toph {
      grid-area: l;
    }
  }

  .divider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--color-dark);
  }
  
  #divider_1 {
    left: 0%;
  }
  
  #divider_2 {
    left: 25%;
  }
  
  #divider_3 {
    left: 50%;
  }
  
  #divider_4 {
    left: 75%;
  }
  
  #divider_5 {
    left: 100%;
  }

  .left {
      display: flex;
      flex-direction: column;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  #bday_input {
    background: transparent;
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-dark);
    border: none;
    width: auto;
    text-transform: uppercase;
    margin-top: var(--rhythm);
  }

button.character {
  /* border-bottom: 1px solid var(--color-dark); */
  height: 130px;
  height: 130px;

  img {
     width: 100%;
    height: 130px;
    object-fit: cover;
  }
}

button {
  all: unset;
}

img.arrow {
  height: auto;
  width: 240px;
  position: absolute;
  top: 0;
  margin-bottom: var(--rhythm);
}